.App {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width: max-content;
}

.page {
    box-sizing: border-box;
    width: 8.5in;
    height: 11in;
    border: 1px solid black;
    padding: 1in;
    box-shadow: 0px 2px 5px gray;
    font-size: 12px;
}

h1 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

h2 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
}